@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: #ff7a7a;
  background-size: cover; }
  @media screen and (min-width: 27em) {
    body {
      background-image: url(../images/bg-intro-desktop.png); } }

main {
  margin-top: 8.4rem;
  padding-bottom: 6.8rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem; }

body {
  font-family: "Poppins", sans-serif; }

.font-reg {
  font-weight: 400; }

.font-medium {
  font-weight: 500; }

.font-semi-bold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.heading-1 {
  font-size: calc(clamp(2.8rem, 7.467vw, 5rem));
  color: #fff; }

.paragraph {
  font-size: 1.6rem;
  color: #fff; }
  .paragraph--sub {
    text-align: center;
    font-size: 1.1rem;
    color: #b9b6d3;
    line-height: 1.9;
    width: 24.9rem;
    margin: auto; }
    .paragraph--sub strong {
      color: #ff7a7a; }

.text {
  width: 87.2%;
  margin: auto;
  text-align: center; }

.trial {
  display: grid;
  gap: 2.4rem; }
  .trial__btn {
    font-family: "Poppins", sans-serif;
    width: 87.2%;
    display: block;
    padding: 1.8rem 4.3rem;
    margin: auto;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #6055a5;
    color: #fff;
    box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.15); }
  .trial__form {
    padding: 2.4rem;
    width: 87.2%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.15);
    position: relative;
    display: grid;
    gap: 1.6rem;
    border-radius: 1rem; }
    .trial__form--input {
      display: block;
      width: 100%;
      margin: auto;
      padding: 1.5rem 2rem;
      border: 1px solid #dedede;
      border-radius: 0.5rem;
      font-family: "Poppins", sans-serif; }
    .trial__form--btn {
      border: none;
      padding: 1.5rem 4.3rem;
      background-color: #38cc8c;
      color: #fff;
      border-radius: 0.5rem;
      box-shadow: inset 0 -0.4rem 0 rgba(0, 0, 0, 0.1);
      font-size: 1.5rem; }
