/////////////////////////////////////
//SASS VARIABLES
$bp-desktop: 64em;

$color-red: rgb(255, 122, 122);
$color-green: rgb(56, 204, 140);
$color-blue: rgb(96, 85, 165);
$color-dark-blue: rgb(62, 60, 73);
$color-greyish-blue: rgb(185, 182, 211);

$box-shadow: 0 0.8rem 0 rgba(#000, 0.15);
