*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: $color-red;
  background-size: cover;

  @media screen and (min-width: $bp-tablet) {
    background-image: url(../images/bg-intro-desktop.png);
  }
}

main {
  margin-top: 8.4rem;
  padding-bottom: 6.8rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
